*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}
/*------------------------ Header ---------------------------- */
.header{
    background-color: #092f44;
    width: 100%;
    height: 70px;
   
}

.logo-image{
    width: 250px;
    float: left;
    padding-top: 15px;
}

.nav-links{
    float: right;
    padding-top: 25px;
    padding-bottom: 0;
    padding-right: 10px;
    margin-bottom: 0;
}
a{
    position: relative;
    color: #ffffff;
    text-decoration: none;
    margin-right: 15px;
    font-size: 17px;
}

nav .link::after{
    display: inline-block;
    width: 100%;
    content: '';
    position: absolute;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #dbe9f4;
    margin: auto;
    transition: 0.5s ;
}

nav .link:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.login-button{
    border-radius: 6px;
    border: none;
    border-color: #092f44;
    background-color: #ffffff;
    margin: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;
    color: #092f44;
}

nav .login-button:hover{
    color: #ffffff;
    background-color: #528aae;
    transition: 0.5s;
}

/*------------------------ Banner ---------------------------- */

body{
    background-color: #f3fefe;
}

.banner-container{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 90vh;
}
 .banner1{
    width: 48%;
    height: 120%;
    margin-left: 30px;
    margin-top: 40px;
    filter: drop-shadow(9px 9px 9px rgba(0,0,0,0.5));
}

 .banner2{
    width: 48%;
    height: 290px;
    filter: drop-shadow(9px 9px 9px rgba(0,0,0,0.5));
    margin-top: 60px;
    margin-left: 30px;
}

.banner3{
    width: 45%;
    height: 305px;
    filter: drop-shadow(9px 9px 9px rgba(0,0,0,0.3));
    margin-left: 30px;
    margin-top: 35px;
}

.banner4{
    width: 33%;
    height: 280px;
    padding-left: 50px;
    padding-top: 30px;
    filter: drop-shadow(9px 9px 9px rgba(0,0,0,0.5));
    margin-top: 30px;
}

.swiper-slide{
    display: flex;
    margin-bottom: 10%;
    
}

.swiper-wrapper{
    margin-top: 60px;
    margin-left: 50px;
    float: left;
    margin-top: 75px;
}
.swiper .swiper-button-prev,.swiper .swiper-button-next{
    color: #092f44;
}

.swiper-button-prev:hover{
    filter: drop-shadow(9px 9px 9px rgba(112, 159, 214, 0.8));
   color:  rgba(112, 159, 214, 0.8);
}
.swiper-button-next:hover{
    filter: drop-shadow(9px 9px 9px rgba(112, 159, 214, 0.8));
    color:  rgba(112, 159, 214, 0.8);
}

.swiper .swiper-pagination-bullet-active{
    background: #092f44;
}
.info{
   width: 650px;
   padding: 50px;
   margin-left: 100px;
   margin-right: 100px;
   margin-bottom: 25px;
   border-radius: 12px;
   background-color: #f3fefe;
   
   border: 2px solid #092f44 ;
}

.info h1{
    color: #092f44;
    text-align: center;
}

.info h4{
    color: #092f44;
}

.info p{
    color: #828282  ;
    font-size: medium;
    font-size: 16px;
}

.info:hover{
    box-shadow: 0 0 20px  0px rgba(0,0,0,0.2);
}

.btn{
    border: solid 2px #092f44;
    border-radius: 18px;
    background-color: #092f44;
    color: #ffffff;
    width: 200px;
    height: 40px;
}
.quote-btn{
    padding-top: 50px;
    text-align: center;
    
}
.btn:hover{
    border: solid 3px #092f44;
    background-color: #ffffff;
    color: #092f44;
}
/*--------------------------------- About us ---------------------------*/
.about-us-section {
    text-align: center;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    color: #092f44;
    background-color: #ffffff;
}

.about-us-section h1{
    font-size: 40px;
}

.part1{
    position: relative;
    display: inline-block;
}


.layer{
    background: transparent;
    height: 97.8%;
    width: 38.3%;
    position: absolute;
    top:0;
    left:0;
    margin-left: 795px;
    transition: 0.5s;
    border-radius: 10px;
}


.layer:hover{
    background: rgba(9,47,68,0.7);
    box-shadow: 0 0 20px  0px rgba(0,0,0,0.2);
}

.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
    text-align: center;
    justify-content: center;
   
}

.layer:hover h3{
    bottom: 40%;
    opacity: 1;

}

 .image-right{
    display: block;
    float: right;
    width: 38%;
    height: 300px;
    margin-top: 0;
    margin-left: 15px;
    border-style: ridge;
    border-radius: 10px;
}

.about-us-section p{
    color: #828282;
    font-size: 18px;
}


.part1 p{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: none;
    padding-top: 45px;
    
}
.question{
    font-weight: bolder;
}
.mvg-row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.mvg-col{
    flex-basis: 31%;
    background: #f3fefe;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    border:#092f44 solid 2px;
}

.mvg-col .first{
    padding-top: 28%;
}

.mvg-col .second{
    padding-top: 16%;
}
  
.mvg-col:hover{
    box-shadow: 0 0 20px  0px rgba(0,0,0,0.2);
}
/* --------------------------------Services------------------------------ */
.services-section{
    text-align: center;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    color: #092f44;
    margin: auto;
}

.services-row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
   
}

.services-section h1{
    font-size: 40px;
}

.services-section p{
    color: #828282;
    font-size: 18px;
}

.services-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.services-col img{
    width: 100%;
    display: block;
    border: #092f44 3px solid;
}

.service-layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s; 
}

.service-layer:hover{
    background: rgba(9,47,68,0.7);
    box-shadow: 0 0 20px  0px rgba(0,0,0,0.2);
    

}

.service-layer h3{
    width: 100%;
    font-weight: 500;
    color: #ffffff;
    font-size: 19px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.service-layer:hover h3{
    bottom: 30%;
    opacity: 1;
    
}