*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/*------------------------ Header ---------------------------- */
.header{
    background-color: #092f44;
    width: 100%;
    height: 60px;
    font-size: 14px;
}

.logo-image{
    width: 250px;
    float: left;
    padding-top: 10px;
}

.nav-links{
    float: right;
    padding-top: 16px;
    padding-bottom: 0;
    padding-right: 10px;
}
a{
    position: relative;
    color: #ffffff;
    text-decoration: none;
    margin-right: 15px;
}

nav a::after{
    display: inline-block;
    width: 100%;
    content: '';
    position: absolute;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #dbe9f4;
    margin: auto;
    transition: 0.5s ;
}
nav a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.login-button{
    width: 80px;
    height: 20px;
    border-radius: 6px;
    border: none;
    border-color: #092f44;
    background-color: #ffffff;
}

nav .login-button:hover{
    color: #ffffff;
    background-color: #528aae;
    transition: 0.5s;
}

/*------------------------ Banner ---------------------------- */
.banner-container{
   background-color: #ffffff;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 90vh;
}
 .banner1{
    width: 48%;
    height: 120%;
    margin-left: 30px;
    margin-top: 40px;
    filter: drop-shadow(9px 9px 9px rgba(0,0,0,0.5));
}

 .banner2{
    width: 48%;
    height: 290px;
    filter: drop-shadow(9px 9px 9px rgba(0,0,0,0.5));
    margin-top: 60px;
    margin-left: 30px;
}

.banner3{
    width: 45%;
    height: 305px;
    filter: drop-shadow(9px 9px 9px rgba(0,0,0,0.3));
    margin-left: 30px;
    margin-top: 35px;
}

.banner4{
    width: 33%;
    height: 280px;
    padding-left: 50px;
    padding-top: 30px;
    filter: drop-shadow(9px 9px 9px rgba(0,0,0,0.5));
    margin-top: 30px;
}

.swiper-slide{
    display: flex;
    margin-bottom: 10%;
}

.swiper-wrapper{
    margin-top: 60px;
    margin-left: 50px;
    float: left;
}
.swiper .swiper-button-prev,.swiper .swiper-button-next{
    color: #092f44;
}

.swiper-button-prev:hover{
    filter: drop-shadow(9px 9px 9px rgba(112, 159, 214, 0.8));
   color:  rgba(112, 159, 214, 0.8);
}
.swiper-button-next:hover{
    filter: drop-shadow(9px 9px 9px rgba(112, 159, 214, 0.8));
    color:  rgba(112, 159, 214, 0.8);
}

.swiper .swiper-pagination-bullet-active{
    background: #092f44;
}
.info{
   width: 650px;
   padding: 50px;
   margin-left: 100px;
   margin-right: 100px;
   margin-bottom: 25px;
   border-radius: 12px;

}

.info:hover{
    background-color: #f3fefe;
    box-shadow: 0 0 20px  0px rgba(0,0,0,0.2);
}

.btn{
    border: solid 2px #092f44;
    border-radius: 5px;
    background-color: #092f44;
    color: #ffffff;
    width: 200px;
    height: 40px;
}
.quote-btn{
    padding-top: 50px;
    text-align: center;
}

.btn:hover{
    border: solid 3px #092f44;
    background-color: #ffffff;
    color: #092f44;
}
