*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}
/*------------------------ Header ---------------------------- */
.header{
    background-color: #092f44;
    width: 100%;
    height: 70px;
   
}

.logo-image{
    width: 250px;
    float: left;
    padding-top: 15px;
}

.nav-links{
    float: right;
    padding-top: 25px;
    padding-bottom: 0;
    padding-right: 10px;
    margin-bottom: 0;
}
a{
    position: relative;
    color: #ffffff;
    text-decoration: none;
    margin-right: 15px;
    font-size: 17px;
}

nav .link::after{
    display: inline-block;
    width: 100%;
    content: '';
    position: absolute;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #dbe9f4;
    margin: auto;
    transition: 0.5s ;
}

nav .link:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.login-button{
    border-radius: 6px;
    border: none;
    border-color: #092f44;
    background-color: #ffffff;
    margin: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;
    color: #092f44;
}

nav .login-button:hover{
    color: #ffffff;
    background-color: #528aae;
    transition: 0.5s;
}

/*------------------------ Banner ---------------------------- */

body{
    background-color: #f3fefe;
}

.banner-container{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 90vh;
}
 .banner1{
    width: 48%;
    height: 120%;
    margin-left: 30px;
    margin-top: 40px;
    filter: drop-shadow(9px 9px 9px rgba(0,0,0,0.5));
}

 .banner2{
    width: 48%;
    height: 290px;
    filter: drop-shadow(9px 9px 9px rgba(0,0,0,0.5));
    margin-top: 60px;
    margin-left: 30px;
}

.banner3{
    width: 45%;
    height: 305px;
    filter: drop-shadow(9px 9px 9px rgba(0,0,0,0.3));
    margin-left: 30px;
    margin-top: 35px;
}

.banner4{
    width: 33%;
    height: 280px;
    padding-left: 50px;
    padding-top: 30px;
    filter: drop-shadow(9px 9px 9px rgba(0,0,0,0.5));
    margin-top: 30px;
}

.swiper-slide{
    display: flex;
    margin-bottom: 10%;
    
}

.swiper-wrapper{
    margin-top: 60px;
    margin-left: 50px;
    float: left;
    margin-top: 75px;
}
.swiper .swiper-button-prev,.swiper .swiper-button-next{
    color: #092f44;
}

.swiper-button-prev:hover{
    filter: drop-shadow(9px 9px 9px rgba(112, 159, 214, 0.8));
   color:  rgba(112, 159, 214, 0.8);
}
.swiper-button-next:hover{
    filter: drop-shadow(9px 9px 9px rgba(112, 159, 214, 0.8));
    color:  rgba(112, 159, 214, 0.8);
}

.swiper .swiper-pagination-bullet-active{
    background: #092f44;
}
.info{
   width: 650px;
   padding: 50px;
   margin-left: 100px;
   margin-right: 100px;
   margin-bottom: 25px;
   border-radius: 12px;
   background-color: #f3fefe;
   
   border: 2px solid #092f44 ;
}

.info h1{
    color: #092f44;
    text-align: center;
}

.info h4{
    color: #092f44;
}

.info p{
    color: #828282  ;
    font-size: medium;
    font-size: 16px;
}

.info:hover{
    box-shadow: 0 0 20px  0px rgba(0,0,0,0.5);
}

.btn{
    border: solid 2px #092f44;
    border-radius: 18px;
    background-color: #092f44;
    color: #ffffff;
    width: 200px;
    height: 40px;
}
.quote-btn{
    padding-top: 50px;
    text-align: center;
    
}
.btn:hover{
    border: solid 3px #092f44;
    background-color: #ffffff;
    color: #092f44;
}
/*--------------------------------- About us ---------------------------*/
.about-us-section {
    text-align: center;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    color: #092f44;
    background-color: #ffffff;
}

.about-us-section h1{
    font-size: 40px;
}

.part1{
    position: relative;
    display: inline-block;
}


.layer{
    background: transparent;
    height: 97.8%;
    width: 38.3%;
    position: absolute;
    top:0;
    left:0;
    margin-left: 795px;
    transition: 0.5s;
    border-radius: 10px;
}


.layer:hover{
    background: rgba(9,47,68,0.7);
    box-shadow: 0 0 20px  0px rgba(0,0,0,0.5);
}

.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
    text-align: center;
    justify-content: center;
   
}

.layer:hover h3{
    bottom: 40%;
    opacity: 1;

}

 .image-right{
    display: block;
    float: right;
    width: 38%;
    height: 300px;
    margin-top: 0;
    margin-left: 15px;
    border-style: ridge;
    border-radius: 10px;
}

.about-us-section p{
    color: #828282;
    font-size: 18px;
}


.part1 p{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: none;
    padding-top: 45px;
    
}
.question{
    font-weight: bolder;
}
.mvg-row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.mvg-col{
    flex-basis: 31%;
    background: #f3fefe;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    border:#092f44 solid 2px;
}

.mvg-col .first{
    padding-top: 28%;
}

.mvg-col .second{
    padding-top: 16%;
}
  
.mvg-col:hover{
    box-shadow: 0 0 20px  0px rgba(0,0,0,0.5);
}
/* --------------------------------Services------------------------------ */
.services-section{
    text-align: center;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    color: #092f44;
    margin: auto;
}

.services-row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
   
}

.services-section h1{
    font-size: 40px;
}

.services-section p{
    color: #828282;
    font-size: 18px;
}

.services-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.services-col img{
    width: 100%;
    display: block;
    border: #092f44 3px solid;
}

.service-layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s; 
}

.service-layer:hover{
    background: rgba(9,47,68,0.7);
    box-shadow: 0 0 20px  0px rgba(0,0,0,0.5);
    

}

.service-layer h3{
    width: 100%;
    font-weight: 500;
    color: #ffffff;
    font-size: 19px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.service-layer:hover h3{
    bottom: 30%;
    opacity: 1;
    
}
/* ---------------Projects----------------- */

.projects{
    background-color: #ffffff;
    text-align: center;
}

.projects h1{
    color: #092f44;
    text-align: center;
    font-size: 40px;
}

.projects p{
    color: #828282  ;
    font-size: medium;
    font-size: 18px;
}

.projects img{
    width: 1200px;
}
/*------------------ Products----------------- */
.products{
    text-align: center;
    color: #092f44;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
    margin: auto;
}

.prod-row{
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
}

.products h1{
    font-size: 40px;
}

.prod-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.prod-col img{
    width: 100%;
    display: block;
    border: #092f44 3px solid;
}

.prod-layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s; 
}

.prod-layer:hover{
    background: rgba(9,47,68,0.7);
    box-shadow: 0 0 20px  0px rgba(0,0,0,0.5);
    

}

.prod-layer h3{
    width: 100%;
    font-weight: 500;
    color: #ffffff;
    font-size: 19px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.prod-layer:hover h3{
    bottom: 20%;
    opacity: 1;
}

.this{
    height: 320px;
}

.prod-layer a{
    color: #092f44;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 4px;
    border: #ffffff solid 2px;
    font-weight: bold;
}
/* -------------------Careers---------------- */

.careers{
    background-color: #ffffff;
    padding: 30px;
}

.careers h1{
    color: #092f44;
    text-align: center;
    font-size: 40px;
}

.careers h3,p{
    text-align: center;
    color: #092f44;
}

.careers h5{
    font-size: 16px;
    text-align: center;
    padding: 5px;
}

ul{
    list-style:disc;
    list-style-position: inside;

}

.career-row{
    display: flex;
    justify-content: space-between;
}

.career-col{
    flex-basis: 32%;
    border-radius: 0px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    background-color: #f3fefe;
    padding: 3px;
    border-radius: 10px;   
}

.career-col:hover{
    box-shadow: 0 0 20px  0px rgba(0,0,0,0.5);
}

.form{
    align-items: center;
    justify-content: space-evenly;
    display: flex;
}

fieldset{
    width: 500px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: #f3fefe;
}

fieldset:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.5);
}

legend{
    font-weight: bolder;
}
input,label,select{
    margin: 5px;
    border-radius: 5px;
    
}

label{
    font-weight:500;
}

input,select{
    margin-left: 30px;
    border: 0.5px solid grey;
    height: 20px;
    
}

.sub-btn{
    text-align: center;
}

.submit{
    height: 25px;
    width: 70px;
    margin-left: 0px;
}

.submit:hover{
    background-color: #092f44;
    color: #ffffff;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
}

/* contact us */
.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}

.location iframe{
    width: 100%;
}

.contact-us{
    width: 80%;
    margin: auto;
    
}

.row{
    display: flex;
}

.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
    
}

.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.contact-col .fa{
    font-size: 28px;
    color: #092f44;
    margin: 10px;
    margin-right: 30px;
}

.contact-col div p{
    padding: 0;
    
}

.contact-col h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}

.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1pxs solid #ccc;
    box-sizing: border-box;
}
.h1con{
     color: #092f44;
    text-align: center;
    font-size: 40px;
}

.message{
    margin-left: 30px;
    border-radius: 5px;
}
.send-btn{
   float: right;
   margin-right: 180px;
}

.send{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid grey;
}

.contact-col textarea:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
}

.contact-col input:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
}
.send:hover{
    background-color: #092f44;
    color: #ffffff;
     box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
}
/* footer */
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color: #092f44;
    
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;

    color: #ffffff;
}

.icons .fa{
    color: #ffffff;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.footer p{
    color: #ffffff;
}


